@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-color: #ffffff;
  --text-color: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-primary {
  background-color: var(--bg-color);
}
.bg-primary-light {
  background-color: color-mix(in srgb, var(--bg-color) 94%, white);;
}

.text-primary {
  color: var(--text-color) !important;
}

.border-primary {
  border-color: color-mix(in srgb, var(--text-color) 40%, white);
  box-shadow: 0 1px 3px color-mix(in srgb, var(--text-color) 30%, transparent);
}

.placeholder-primary::placeholder {
  color: var(--text-color);
  opacity: 0.40;
}

.text-primary-light {
  color: color-mix(in srgb, var(--text-color) 50%, white);
}

.text-primary-light:hover {
  color: color-mix(in srgb, var(--text-color) 100%, white);
}

.label-light {
  color: color-mix(in srgb, var(--text-color) 50%, white);
}